---
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon/components';

import TopicCard from '@/components/topic/TopicCard.astro';
import TopicGrid from '@/components/topic/TopicGrid.astro';
import HomeLayout from '@/layouts/HomeLayout.astro';
import { isPublished } from '@/utils/isPublished';

const topics = (await getCollection('topics')).sort(
  (a, b) => (a.data.order ?? 999) - (b.data.order ?? 999),
);
---

<HomeLayout
  title='Temas de Servicios de Tecnología de la Información - Proyecto de Aula'
  description='Temas del curso de Servicios de Tecnología de la Información'
>
  <h3 data-heading='icon'><Icon name='list' />Temas del Curso</h3>
  <TopicGrid>
    {
      topics.map((topic) => (
        <TopicCard
          title={topic.data.title}
          description={topic.data.description}
          icon={topic.data.icon}
          color={topic.data.color}
          status={isPublished(topic.data.publishAt)}
          slug={topic.slug}
        />
      ))
    }
  </TopicGrid>
</HomeLayout>
