---
import { Icon } from 'astro-icon/components';

import type { Supplement } from '@/types/supplement';

import Badge from '../ui/Badge.astro';
import CardContent from '../ui/card/CardContent.astro';
import CardDescription from '../ui/card/CardDescription.astro';
import CardFooter from '../ui/card/CardFooter.astro';
import CardHeader from '../ui/card/CardHeader.astro';
import CardRoot from '../ui/card/CardRoot.astro';
import CardTitle from '../ui/card/CardTitle.astro';
import DialogTrigger from '../ui/dialog/DialogTrigger.astro';

type Props = Supplement;

const { title, description, icon, iconBg, triggerId, badges } = Astro.props;
---

<CardRoot class='supplement-card' data-trigger-id={triggerId}>
  <CardHeader>
    <div class='supplement-icon' style={`--icon-bg-color: ${iconBg}`}>
      <Icon name={icon} />
    </div>
    <CardTitle>{title}</CardTitle>
  </CardHeader>
  <CardContent class='supplement-content'>
    <CardDescription>{description}</CardDescription>
    {
      badges && badges.length > 0 && (
        <div class='badges'>
          {badges.map(({ icon, label, variant }) => (
            <Badge icon={icon} variant={variant} size='sm'>
              {label}
            </Badge>
          ))}
        </div>
      )
    }
  </CardContent>
  <CardFooter>
    <DialogTrigger dialogId={triggerId}>Ver contenido →</DialogTrigger>
  </CardFooter>
</CardRoot>

<style>
  .supplement-card {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 2rem;
  }

  .supplement-icon {
    width: 42px;
    height: 42px;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 0.4cap;
    background-color: var(--icon-bg-color);

    & > [data-icon] {
      width: 2cap;
      height: 2cap;
      display: block;
      flex-shrink: 0;
      stroke-width: 2;
      color: var(--gray-500);
      mix-blend-mode: difference; /* Ensure visibility on various backgrounds */
    }
  }

  .supplement-content {
    flex-grow: 1;
  }

  .badges {
    margin-top: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
  }
</style>
