---
import { Icon } from 'astro-icon/components';

import { durationToTextFormatter } from '@/utils/formatDuration';

import Separator from '../ui/Separator.astro';

interface Props {
  title?: string;
  icon?: string;
  activity?: boolean;
  estimatedDuration?: number;
}

const { title, icon, activity = false, estimatedDuration = 0 } = Astro.props;
---

<section class='topic-concept-section'>
  {
    title && (
      <section class='topic-concept-section__header' data-activity={activity}>
        <h3 data-heading='icon'>
          {icon && <Icon name={icon} />}
          {title}
        </h3>
        {activity && estimatedDuration > 0 && (
          <span data-activity-info data-heading='icon'>
            <strong>
              <Icon name='clock-hour-3' /> Duración estimada:
            </strong>{' '}
            {durationToTextFormatter(estimatedDuration)}
          </span>
        )}
      </section>
    )
  }
  {title && <Separator class='topic-concept-section__separator' thickness={3.2} />}
  <section class='topic-concept-section__content' data-activity={activity}>
    <slot />
  </section>
</section>

<style>
  .topic-concept-section {
    background-color: var(--bg-elevated);
    border-radius: var(--radius-md);
    border: 1px solid var(--gray-300);
    box-shadow: var(--shadow-sm);
    padding: 2.4rem;

    .topic-concept-section__separator {
      background-color: var(--brand-primary);
    }
  }

  .topic-concept-section__header {
    padding-inline: 24px;

    & h3 {
      color: var(--gray-900);
    }

    & [data-icon] {
      color: var(--brand-primary);
    }

    &[data-activity='true'] {
      display: flex;
      flex-direction: column;
      box-shadow: var(--shadow-lg);
      border: 1px solid var(--gray-300);

      background-color: var(--bg-activity);
      border-top-left-radius: var(--radius-md);
      border-top-right-radius: var(--radius-md);
    }

    & [data-activity-info] {
      color: var(--gray-900);
      margin-bottom: 8px;

      & [data-icon] {
        color: var(--gray-900);
        width: 2cap;
        height: 2cap;
      }

      & strong {
        display: inherit;
        gap: 0.4cap;
      }
    }
  }

  .topic-concept-section__content {
    padding: 8px 24px 12px 24px;

    &[data-activity='true'] {
      border: 1px solid var(--gray-300);
      border-top: none;
      border-bottom-left-radius: var(--radius-md);
      border-bottom-right-radius: var(--radius-md);

      padding-top: 28px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 16px 0;
      overflow-x: auto;

      & th,
      & td {
        border-block: 1px solid var(--gray-300);
        padding: 12px;
        text-align: left;
        font-size: 1.4rem;
      }

      & th {
        background-color: var(--brand-primary);
        color: var(--text-destructive);
        vertical-align: bottom;
      }
    }

    blockquote {
      border-left: 4px solid var(--brand-primary);
      padding-left: 16px;
      color: var(--text-secondary);
      font-style: italic;
      margin-block: 16px;
    }
  }
</style>
