---
import { Icon } from 'astro-icon/components';

import { withBaseUrl } from '@/utils/path';

import CardDescription from '../ui/card/CardDescription.astro';
import CardFooter from '../ui/card/CardFooter.astro';
import CardHeader from '../ui/card/CardHeader.astro';
import CardRoot from '../ui/card/CardRoot.astro';
import CardTitle from '../ui/card/CardTitle.astro';
import LinkButton from '../ui/link/LinkButton.astro';

interface Props {
  title: string;
  description: string;
  icon: string;
  color: string;
  status: boolean;
  slug: string;
}

const { title, description, icon, color, status, slug } = Astro.props;
const topicUrl = withBaseUrl(`/temas/${slug}`);
---

<CardRoot class='topic-card' data-status={status ? 'completed' : 'pending'}>
  <CardHeader>
    <div class='topic-icon' style={`background:${color}`}>
      <Icon name={icon} />
    </div>

    <CardTitle>{title}</CardTitle>
  </CardHeader>

  <CardDescription>{description}</CardDescription>

  <CardFooter class='topic-footer'>
    <small class='topic-status'>{status ? 'Completado' : 'Pendiente'}</small>

    <LinkButton href={topicUrl} variant='outline' size='sm' ariaLabel={`Ir al tema: ${title}`}>
      Ver tema &#x21FE;
    </LinkButton>
  </CardFooter>
</CardRoot>

<style>
  .topic-card {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &[data-status='completed'] {
      border: 2px solid var(--success);
      background-color: rgb(from var(--success) r g b / 0.2);
    }

    &[data-status='pending'] {
      opacity: 0.75;
    }
  }

  .topic-icon {
    width: 42px;
    height: 42px;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 0.4cap;
  }

  [data-icon] {
    width: 1.5cap;
    height: 1.5cap;
    display: block;
    flex-shrink: 0;
    stroke-width: 2;
    color: var(--gray-400);
    mix-blend-mode: difference; /* Ensure visibility on various backgrounds */
  }

  .topic-status {
    color: var(--text-secondary);
  }

  .topic-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;

    margin-top: auto;
  }
</style>
