---
import '@/styles/globals.css';

import Header from '@/components/Header.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const siteURL = Astro.site || 'http://localhost:4321';
const canonicalURL = new URL(Astro.url.pathname, siteURL);
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='generator' content={Astro.generator} />

    <title>{title}</title>
    <meta name='title' content={title} />
    <meta name='description' content={description} />
    <link rel='canonical' href={canonicalURL} />

    <link rel='sitemap' href='/sitemap-index.xml' />
  </head>
  <body>
    <div class='container'>
      <Header />
      <slot />
    </div>
  </body>
</html>

<style>
  .container {
    max-width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--bg-base);
    box-shadow: var(--shadow-sm);
  }
</style>
